################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Unidades/Unidad4/Lab03/Ejercicio7/.vs/Ejercicio7/v16
