<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ejercicio7.Properties.Settings.NETConnectionString"
            connectionString="Data Source=DESKTOP-KR5I0CG\SQLEXPRESS;Initial Catalog=NET;User ID=sa;Password=root"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>